.social-login
    h5.social-login__header Social Login

    a.btn.btn-block.btn-social.btn-github
        span.fab.fa-github 
        span Continue with Github

    a.btn.btn-block.btn-social.btn-facebook
        span.fab.fa-facebook
        span Continue with Facebook
