extends layouts/main

block content
    .restricted.d-flex.h-80
        .bg-white.shadow.rounded.overflow-hidden.px-4.py-4.w-100.align-self-center
            h3.mb-4.text-uppercase.text-center Change Password
            form(action=`/users${routes.changePassword}`, method="post")
                .form-group
                    label(for='video-description') Current Password
                    input.form-control(type="password", name="currentPassword", required)
                .form-group
                    label(for='video-description') New Password
                    input.form-control(type="password", name="newPassword", required)
                .form-group
                    label(for='video-description') Verify New Password
                    input.form-control(type="password", name="verifyNewPassword", required)
                button.btn.btn-outline-danger.btn-block(type="submit") Change Password
