extends layouts/main

block content
    .restricted
        form(action=routes.editVideo(video.id), method="post")
            .form-group
                label(for='video-title') Title
                input#video-title.form-control(type="text", name="title", value=video.title)
            .form-group
                label(for='video-description') Description
                textarea#video-description.form-control(rows="8", name="description")=video.description
            button.btn.btn-success.btn-block(type="submit") Update Video
            
        button.btn.btn-warning.btn-block.mt-2(type="button")
            a(href=routes.deleteVideo(video.id)) Delete Video