extends layouts/main

block content
    .restricted
        form(action=routes.join, method="post")
            .form-group
                label(for='username') Full Name
                input#username.form-control(type="text", name="userName", required)
            .form-group
                label(for='email') Email Address
                input#email.form-control(type="email", name="email", required)
            .form-group
                label(for='password') Password
                input#password.form-control(type="password", name="password", required)
            .form-group
                label(for='verify-password') Verify Password
                input#verify-password.form-control(type="password", name="verifyPassword", required)
            button.btn.btn-success.btn-block(type="submit") Join Now
        .mt-5
            include partials/socialLogin