extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="userName", placeholder="Full Name")
            input(type="email", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="Password")
            input(type="password", name="verifyPassword", placeholder="Verify Password")
            button(type="submit") Join Now
        include partials/socialLogin