extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{searchingBy} 
    .search__videos
        if videos.length === 0
            h5 No Videos Found
        else 
            .video-container
                each video in videos
                    +videoBlock({
                        id: video.id,
                        videoFile: video.videoFile,
                        poster: video.poster,
                        title: video.title,
                        views: video.views,
                        description: video.description,
                    })
