extends layouts/main

block content
    .restricted
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            .form-group
                label(for='video-file') Video
                input#video-file.form-control-file(type="file", name="videoFile", required=true, accept="video/*")
            .form-group
                label(for='video-title') Title
                input#video-title.form-control(type="text", name="title", required=true)
            .form-group
                label(for='video-description') Description
                textarea#video-description.form-control(rows="8", name="description", required=true)
            button.btn.btn-success.btn-block(type="submit") Upload Video