@import '../_variables';

html,
body {
  font-family: 'Ubuntu', 'Noto Sans KR', cursive;
  font-weight: 400;
  color: $color-gray-87;
  min-width: 500px;
}

main {
  padding-top: 30px;
  padding-bottom: 43px;
}

video {
  width: 100%;
  object-fit: cover;
}

/**
**************** BASE ****************
*/

.restricted {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.h-80 {
  height: 80vh;
}

.v-center {
  display: flex;
}

.bg-brand {
  background-color: $color-brand-red;
}

.btn-social > :first-child {
  top: 4px;
}

.is-hidden {
  display: none;
}

.is-displayed {
  display: block;
}

.font-size-09rem {
  font-size: 0.9rem;
}

.font-size-08rem {
  font-size: 0.8rem;
}
