mixin videoPlayer(video={})
  .video-player
    video(src=video.src)
    .video-player__controls
      .column
        .volume-container
          span.button-volume
            i.fas.fa-volume-up
          input.button-volume-range.ml-2.form-control-range.custom-range(type="range", min="0", max="1", step="0.1", value="0.8")
        span.duration.ml-3
          span.duration__current 00:00:00
          span.mx-1 /
          span.duration__total 00:00:00
      .column
        span.button-play
          i.fas.fa-play
      .column
        span.button-expand
          i.fas.fa-expand