main {
  padding-top: 30px;
  padding-bottom: 43px;
}

.restricted {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.h-80 {
  height: 80vh;
}

.v-center {
  display: flex;
}

.bg-brand {
  background-color: $color-brand-red;
}

.btn-social > :first-child {
  top: 4px;
}
