extends layouts/main
include mixins/videoBlock

block content            
    .home__video-container
        if videos 
            .row
                each video in videos
                    .col-8.col-sm-6.col-md-6.col-lg-4
                        +videoBlock({
                            id: video.id,
                            videoFile: video.fileUrl,
                            poster: video.poster,
                            title: video.title,
                            views: video.views,
                            description: video.description,
                        })


