extends layouts/main

block content
    .restricted.d-flex.h-80
        .bg-white.shadow.rounded.overflow-hidden.px-4.py-4.w-100.align-self-center
            h3.mb-4.text-uppercase.text-center Sign Up
            form(action=routes.join, method="post")
                .form-group
                    label(for='username') Full Name
                    input#username.form-control(type="text", name="userName", required)
                .form-group
                    label(for='email') Email Address
                    input#email.form-control(type="email", name="email", required)
                .form-group
                    label(for='password') Password
                    input#password.form-control(type="password", name="password", required)
                .form-group
                    label(for='verify-password') Verify Password
                    input#verify-password.form-control(type="password", name="verifyPassword", required)
                button.btn.btn-outline-danger.btn-block(type="submit") Join Now
            
            include partials/socialLogin