mixin videoPlayer(video={})
  .video-player
    video(src=`/${video.src}`)
    .video-player__controls
      .column
        span.mr-3.button-volume
          i.fas.fa-volume-up
        span.duration
          span.duration__current 00:00:00 
          span.mx-1 /
          span.duration__total 00:00:00
      .column
        span.button-play
          i.fas.fa-play
      .column
        span.button-expand
          i.fas.fa-expand