.social-login
    h6.social-login__header.my-4 OR
    a.btn.btn-block.btn-social.btn-github(href=routes.github)
        span.fab.fa-github 
        span Continue with Github
    a.btn.btn-block.btn-social.btn-facebook(href=routes.facebook)
        span.fab.fa-facebook
        span Continue with Facebook
